/*cores da paleta */
:root {
  --mooca-red: #a83c3c; 
  --mooca-red-dark: #8b3232; 
  --mooca-bg: #fdfaf6;
}

/*cor de fundo */
body {
  background-color: var(--mooca-bg) !important;
}

/* sobrepondo a cor da Navbar */
.navbar.bg-dark {
  background-color: var(--mooca-red) !important;
}

/* sobrepondo a cor dos botões principais */
.btn-primary,
.btn-success {
  background-color: var(--mooca-red);
  border-color: var(--mooca-red);
}

/* cor quado passar o mouse (hover) */
.btn-primary:hover,
.btn-success:hover {
  background-color: var(--mooca-red-dark);
  border-color: var(--mooca-red-dark);
}

/* cor dos textos e outros */
.text-primary,
.badge.bg-primary {
  color: var(--mooca-red) !important;
  background-color: var(--mooca-red) !important;
}

/* logo */
.navbar-brand img {
  height: 35px; 
}

/* pra o ícone da lixeira não ser afetado pelo CSS dos botões */
.btn-danger {
  background-color: #dc3545;
  border-color: #dc3545;
}

.cart-remove i {
  pointer-events: none;
}